  
  /* General */
  .programs-breakdown ul{
    list-style: none;
  }
  
  .fas.fa-check{
    color: green;
  }
  
  
  #fieldPrograms,
  #programOne,
  #programTwo,
  #programThree
  { 
    width: 100%;
    font-family: var(--font-family-basic);
    font-size: 1rem;
  }
  
  
  .main-title span {
    position: sticky;
    top: 0px;
    display: block;
    font-size: 4rem;
    padding: 2%; 
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #fff;
    background-color:var(--color-marine-blue);
    letter-spacing: .1em;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
    
  }
  
  .field-container { 
    width: 100%;
    padding: 2% 5%;
  }
  
  .field-top{
    width: 100%;  
    padding: 0 20%;
    font-size: 1rem;

  }
  
  .field-bottom{

    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  
  .program-main-text{
    padding: 3% 5%;
  }
  
  .two-columns{
    display: flex;
    flex-direction: row;
  }
  
  
  .programs-breakdown{
    width: 100%;
    padding: 5% 5%;   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-bg-blue);
    
  }
  
  .breakdown-one,
  .breakdown-two,
  .breakdown-three{
    width:28%;
    background-color: #fff;
    border: 1px solid #d7d7d7;
  }
  
  .pack-top{
    
    text-align: center;
  }
  
  .pack-top h3{

    font-size: 1.5rem;
    color: var(--color-green);
    padding: 5%
    
  }
  
  .pack-top p{
    color: #5c707b;
  }
  
  
  .features-list{
    margin: 10%;
    border-top: 1px solid #d7d7d7;
    padding: 5% 0;
    line-height: 2rem;
  }
  
  .pack-bottom{
    
    text-align: center;
    padding: 5%;
    font-size: 1.5rem;
    color: #5c707b;
    position: relative;
    bottom: 0;
  }
  
  
  .program-notes{
    padding: 3% 5%;
  }
  
  
  
  
  /* -------------- Tabs ------------ */
  
  
  .tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; 
  }
  
  .tabcontent h2{
    font-size: 2rem;
    color: var(--color-green);
    text-align: center;
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  
  
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
    transform: scale(0.85, 0.85);
    overflow: hidden;
    position: relative;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;  
    display: block;
    transition: 1s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title h3{
    color: var(--color-green);
    font-size: 1.7rem;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    cursor: pointer;
    background-color: rgba(16,39,70,0.8); 
    width: 100%;
    height: 15%;
    padding: 5px;
  }
  
  .card .card_title h3.alternative-size{
    font-size: 1.6rem;
  }
  .card:hover,
  .card.active{
    transform: scale(1,1);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.25);
  }
  
  .card:hover .card_image,
  .card.active .card_image{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    cursor: pointer;
  }
  /* -------------- Tabs end ------------ */
  
  
  
  .btn_registration {
    margin-top: 30px;
    background: #92BB55;
    padding: 10px;
    font-size: 0.85rem;
    border-radius: 5px;
    width: 50%;
    color: var(--color-marine-blue);
    border: none;
    transition: .4s;
    -webkit-appearance: none;
  }
  
  .btn_registration:hover {
    background: var(--color-blue-grey);
    cursor: pointer;
  }
  
  
  
  @media screen and (max-width: 1024px) {

    
    .breakdown-one,
    .breakdown-two,
    .breakdown-three{
      width: 30%;
      margin: 0 1%;
    }
  
    
  
    .field-top{
      padding: 4% 5%;  
    } 
  
  
  
    .card{
      margin: 0 auto;
      width: 200px;
      height: 200px;
      border-radius: 30px;   
      transform: scale(0.85, 0.85);
    }
  
    .card .card_image img {
      border-radius: 30px;
    }
  
  
    .card .card_title h3{  
      font-size: 1.2rem;
    }
  
    .card .card_title h3.alternative-size {
      font-size: 1rem;
  }
  
  
}
  
  @media screen and (max-width: 768px) {
    
  
    .card{
      margin: 5px auto;
    }
  
    .card{
      margin: 0 auto;
      width: 240px;
      height: 240px;
      border-radius: 30px;   
      transform: scale(0.85, 0.85);
    }
  
    .card .card_image img {
      border-radius: 30px;
    }
  
  
    .card .card_title h3{  
      font-size: 1.3rem;
    }
  
    .card .card_title h3.alternative-size {
      font-size: 1.2rem;
   }
  
   
    .features-list {
      line-height: 1.5rem;
    }
  
  
    .tabcontent h2 {
      font-size: 1.7rem;
    }
  
    .programs-breakdown{    
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .breakdown-one,
    .breakdown-two,
    .breakdown-three{
      width: 65%;
      margin-top: 2%;
    }
  
  
  }
  
  @media screen and (max-width: 530px) {
  
    .main-title span {
      font-size: 3rem;
    }
  
  
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  
    .card{
      margin: 0;
      width: 160px;
      height: 170px;
      border-radius: 30px;   
      transform: scale(0.85, 0.85);
    }
  
    .card .card_image img {
      border-radius: 30px;
    }
  
  
    .card .card_title h3{  
      font-size: 1rem;
    }
  
    .card .card_title h3.alternative-size {
      font-size: 0.83rem;
  }
  
    .programs-breakdown{
      flex-direction: column;
    }
  
    .breakdown-one,
    .breakdown-two,
    .breakdown-three{
      width:100%;
      
    }
  
    .features-list {
      line-height: 1.2rem;
    }
  
  
    .tabcontent h2 {
      font-size: 1.5rem;
    }
  
  }


  @media screen and (max-width: 375px) {
    .coming-soon{
      padding: 30px;
    }
  }
  

  
  /* Coming soon */
  section{
    display: none;    
  }
  .coming-soon{
    display: block;
    height: 50vh;
    width: 100vw;
    display: flex;
    background-color: white;
    color: var(--color-minor-blue);
  }
  .coming-soon h1{
    font-size: 4rem;
    display: block;
    margin: 10% auto;
  }
  /* Cooming soon end*/